<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type='text/javascript' src="{{ url_for('static', filename='config.js') }}"></script>
    <title>SpotiU</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>Sucessfully Created a New Playlist</h1>
    <h2>Check your spotify!</h2>
    <div class="track">
    </div>
    <script src="{{ url_for('static', filename='fetch.js') }}" defer></script>
</body>
</html>
